<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCV8VkErT9lOYvPQY3Oe3157VUusO5CCFA</string>
	<key>GCM_SENDER_ID</key>
	<string>585621298675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scrollerChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-cd76b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-cd76b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585621298675:ios:76b2ef503ffedeea7d4686</string>
</dict>
</plist>